<div class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          social icons
        </div>
        <div class="col-md-4 ml-auto">
          login | register
        </div>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          LOGO
        </div>
        <div class="col-md-6 ml-auto">
          <ul class="main_nav_list">
            <li class="main_nav_item"><a href="">Home</a></li>
            <li class="main_nav_item"><a href="">About</a></li>
            <li class="main_nav_item"><a href="">Offers</a></li>
            <li class="main_nav_item"><a href="">News</a></li>
            <li class="main_nav_item"><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>