<div class="home">
  <div class="main-home">
    <div class="container mainHeaderContainer">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title-header">Discover the world</h1>
        </div>
      </div>
      <div class="container option">
        <div class="row">
          <div class="col-md-12 content">
            <div class="col-md-6 initial">
              <div class="tab">
                <i class="fab fa-asymmetrik"></i>
                <p class="tab-name">Trips</p>
              </div>
              <div class="tab">
                <i class="fas fa-hotel"></i>
                <p class="tab-name">Hotels</p>
              </div>
              <div class="tab">
                <i class="fas fa-plane"></i>
                <p class="tab-name">Flights</p>
              </div>
            </div>
            <div class="col-md-6 initial">
              <div class="tab">
                <i class="fas fa-ship"></i>
                <p class="tab-name">Cruises</p>
              </div>
              <div class="tab">
                <i class="fas fa-car"></i>
                <p class="tab-name">Car Rent</p>
              </div>
              <div class="tab">
                <i class="fas fa-water"></i>
                <p class="tab-name">Activities</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchContainer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-row" style=" justify-content: center;">
                <div class="col-auto">
                  <label>Destination</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="">
                </div>
                <div class="col-auto">
                  <label>Check In</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-auto">
                  <label>Check Out</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-auto" style="width: 6rem;">
                  <label>Adults</label>
                  <select class="form-control mb-2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col-auto" style="width: 6rem;">
                  <label>Children</label>
                  <select class="form-control mb-2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col-auto styleButton">
                  <button type="button" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="t-home">
        <h3>The best tours</h3>
      </div>
      <div class="row">
        <div class="col-md-12 card-home">
          <div class="card">
            <img class="card-img-top" src="../../assets/maldive.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maldive</h5>
              <p class="card-text">Maldives holidays deliver an experience of a lifetime with gorgeous tropical beaches
                and a fascinating underwater world to explore. Lying in the Indian Ocean, the Maldives is made up of
                over 1,000 coral islands so there's definitely one that can become your dream holiday destination</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/dubai.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dubai</h5>
              <p class="card-text">For world-class shopping, mysterious deserts dunes, extravagant entertainment and
                dining, culture-rich sites and cool beaches, Dubai holidays should be high on anyone's destination list</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/bali.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bali</h5>
              <p class="card-text">Bali holidays offer a fantastic beach holiday combined with culture and nature. Bali
                offers plenty of opportunities to explore a true paradise island, perfect for solo travellers, couples,
                and families</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>